.standings {
  margin: auto;
  padding: 0;
  align-items: flex-start;
  flex-direction: column;

  &, * {
    display: flex;
  }

  .row {
    align-items: flex-start;
    background-color: #CCC;

    &:nth-child(2n) {
      background-color: #999;
    }
  }

  .car-class {
    width: 60px;
  }

  .driver-name {
    width: 160px;
  }

  .position {
    justify-content: center;
    width: 30px;
  }

  .time-behind-leader {
    justify-content: end;
    width: 60px;
  }
}
